@import "tailwindcss";

@custom-variant dark (&:is(.dark *));
@plugin "tailwindcss-animate";

@layer base {
  :root {
    /* light mode */
    
  }
}
/* dark mode */

@layer base {
  * {
    @apply !scroll-smooth;
  }

}

@theme {
  --animate-marquee-left: marquee-left 1s linear;
  --animate-marquee-right: marquee-right 1s linear;

  @keyframes marquee-left {
    0% {
      transform: translateX(100%)
    }
    100% {
      transform: translateX(0%)
    }
  }

  @keyframes marquee-right {
    0% {
      transform: translateX(-100%)
    }
    100% {
      transform: translateX(0%)
    }
  }

}

@utility container {
  padding-inline: 2rem;
  --breakpoint-2xl: 1400px;
  @variant sm {
    /* specific to smaller screens */
  }
}

@utility custom-color-* {
  color: --value([*]);
}

@utility custom-bg-* {
  background-image: --value([*]);
}


:root {
  /* light mode */
}

.dark {
  /* dark mode */
}

