@import "tailwindcss";

@custom-variant dark (&:is(.dark *));
@plugin "tailwindcss-animate";

@layer base {
  :root {
    /* light mode */
  }
}
/* dark mode */
.dark {
  * {
    /* @apply bg-black; */
  }
}

@layer base {
  * {
    @apply !scroll-smooth;
  }

}

@theme {

  --animate-marquee-left: marquee-left 1s linear;
  --animate-marquee-right: marquee-right 1s linear;

  @keyframes marquee-left {
    0% {
      transform: translateX(100%)
    }
    100% {
      transform: translateX(0%)
    }
  }

  @keyframes marquee-right {
    0% {
      transform: translateX(-100%)
    }
    100% {
      transform: translateX(0%)
    }
  }

}

@theme inline {

  --shadow-input:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
    
  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}

@utility container {
  @variant sm {
    /* specific to smaller screens */
  }
}

@utility custom-color-* {
  color: --value([*]);
}

@utility custom-bg-* {
  background-image: --value([*]);
}

@utility intro-height {
  min-height: 100vh;
  min-height: 100svh;
}

:root {
  /* light mode */
  li {
    /* @apply relative before:absolute before:content-[''] before:-left-2.5 before:top-2.5 before:h-1 before:w-1 before:rounded-full dark:before:bg-blue-400 before:bg-orange-400; */
  }
}

.dark {
  /* dark mode */
}

